.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 90px;
  color: $color-white;
  background-color: $color-primary;

  &--active-nav {
    .nav {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }

    .menu {
      &::before {
        background-image: url(../../images/cross.svg);
      }

      &:hover {
        &::before {
          background-image: url(../../images/cross-hover.svg);
          animation-name: scale;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards;
          animation-direction: alternate;
        }
      }
    }
  }

  &__logo {
    cursor: pointer;
    transition: $transition;
    filter: brightness(1.5);

    &:hover {
      filter: none;
    }
  }
}

.menu {
  @extend %btn;

  &::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: url(../../images/burger.svg) 50% no-repeat;
    background-size: contain;
    transition: $transition;
  }

  &:hover {
    &::before {
      background-image: url(../../images/burger-hover.svg);
    }
  }
}

// === HEADER ===
@import "nav";
// === / HEADER ===
