section.modal
	h2.visually-hidden Create new card
	form.modal__content(action="#") 
		fieldset.modal__forms
			legend.modal__forms-title Create new card
			label.modal__forms-label(for="name") Name
			input.modal__forms-text#name(type="text", name="name" placeholder="Enter card name" autofocus autocomplete="on")
			.upload-btn
				span.modal__forms-label Card image
				input.upload-btn__input#file(type="file" name="image")
				label.upload-btn__label(for="file")
					span.upload-btn__label-box.modal__forms-text No file chosen
					span.upload-btn__label-btn Choose a file
			label.modal__forms-label(for="description") Description
			textarea.modal__forms-text#description(name="text", rows="5" placeholder="Enter card description")
			input.modal__forms-checkbox#show(type="checkbox")
			label.modal__forms-label.modal__forms-label-checkbox(for="show") Show
		.modal__buttons 
			button.modal__button.modal__button--ok.modal__button--blocked(type="submit" disabled) ok 
			button.modal__button.modal__button--cancel(type="button") cancel
